


div#modry{

    background-color: blue;
    width: 500px ;
    height: 500px ;

} 

div#cerveny{

    background-color: rgb(255, 0, 0);
    width: 100px ;
    height: 100px ;

} 

div#zluty{

    background-color: rgb(255, 217, 0);
    width: 250px ;
    height: 250px ;

} 