* {

    box-sizing: border-box;

}

body {

   font-family: sans-serif;
   margin: 0;   
   padding: 20px;
   background-color: #f5f5f5;

}

.page-header{

    margin-bottom: 20px;

}

.page-header h1{

    margin: 0 0 6px 0;

}

.products{

    display: flex;
    flex-wrap: wrap;
    gap: 16px;

}

.card{

    background-color: white;
    border: 2px solid #ddd;
    border-radius: 12px;
    padding: 14px;

    flex: 1 1 200px;

    display: flex;
    flex-direction: column;
    


}