
    
   
   nav#Ukol {

    background-color: rgb(216, 214, 213);
    width: 500px; 
    padding: 20px;
    margin: 0 auto;
    font-size: 15px;
    font-variant: small-caps;
    height: 1cm;
    }

   nav#Ukol2 {

    background-color: rgb(216, 214, 213);
    width: 500px; 
    padding: 20px;
    margin: 0 auto;
    font-size: 15px;
    font-variant: small-caps;
            


   } 