* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 20px;
}

.container {
  border: 3px solid black;
  padding: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  background: lightblue;
  border: 2px solid blue;
  padding: 20px;
  font-size: 24px;
}